@tailwind base;
@tailwind components;
@tailwind utilities;

header{
    background: linear-gradient(rgba(0,0, 0, 0.8), rgba(0,0, 0, 0.4)), url(../image/308730508_596184905544179_4682401747476039275_n.jpg);
    background-size: cover;
    height: 100dvh;
    text-align: center;
    padding-top: 20%;
    h2{
        font-size: 5rem;
        color: white;
    }

    span{
        font-size: 2rem;
        color: rgb(255, 253, 254); 
    }
}

p{
    transition: 0.5s;
}

nav{
    z-index: 1;
    position: fixed;
    top: 0;
    width: 100%;
    height: 10dvh;
    background: linear-gradient(rgba(0,0,0,0.8), rgba(0, 0, 0, 0.514));
    margin: 0 auto;
    padding: 0 5dvw;
    display: flex;
    justify-content: space-between;
    .link{
        height: 50%;
        margin: auto 0;
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        color: white;
        font-size: 1.1rem;
        /* font-weight: bold; */
    }
    .reservation{
        margin: auto 0;
        height: 50%;
        padding: 1dvh 1.5dvw;
        border-radius: 10ch;
        background-color: green;
        transition: 0.5s;
        color: white;
        text-align: center;
    }
    .reservation:hover{
        transform: scale(1.2);
    }
    img{
        /* width: 8%;
        aspect-ratio: 1/1; */
        /* margin: 1dvh 0; */
        width: 90%;
        height: 100%;
    }
    .logo {
        /* border: 2px solid white; */
        /* flex-basis: 20%; */
        text-align: center;
        width: 10%;
    }
    p:hover{
        transform: scale(1.2);
        border-bottom: solid 1px white;
    }

    select{
        height: fit-content;
        margin: auto 0;
        background-color: transparent;
        color: white;
        outline: none;
        option{
            color: black;
        }
    }
}




/* section nos bungalow */
#nosBungalow {
    margin: 5% 5%;
    height: 85vh;
    display: flex;
    flex-direction: column;
    /* border: solid black; */
    justify-content: center;
    align-items: center;
}
.containNosBungalow:hover {
    transform: scale(1.01);
    box-shadow: 0px 5px 20px rgb(210, 209, 209);
}
.containNosBungalow {
    transition: 0.7s;
    border-radius: 1ch;
    background-color: rgb(251, 251, 251);
    height: 50%;
    display: flex;
    flex-direction: row;
    flex-basis: 90%;
}
.allBungalow {
    flex-basis: 44%;
    /* border: solid green; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 3%;
}
.bungalowPicture {
    /* border: solid black; */
    flex-basis: 56%;
    background-image: url(../image/BUNGALOW_01_1.JPG);
    background-size: cover;
    background-position: center;
    border-radius: 0 1ch 1ch 0;
}
.title {
    font-size: xx-large;
    margin-bottom: 5%;
}
.allBungalow .title {
    margin-top:3% ;
    margin-bottom: 0;

}
.allBungalow .spanBungalow {
    margin-block: 0% 3%;
    color: rgb(128, 125, 125);
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.2rem;
}
.differentBungalow {
    margin-inline: 5%;
    overflow: scroll;
    margin-bottom: -3%;
}
.differentBungalow img {
    width: 33%;
}
.containBungalow p{
    font-size:x-large;
    margin-bottom: 2%;
}
.containBungalow span{
    color: rgb(49, 49, 49);
}
.containBungalow {
    display: flex;
    flex-direction: column;
    margin: 2% 0 0 5%;
}
.bungalowImage {
    display: flex;
    flex-direction: row;
    margin-block: 3%;
}

/* section activite */

#activite {
    height: 90vh;
    margin: 5% 1%;
    /* border: solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap; */
    color: white;
    text-align: center;
    /* gap: 1dvw; */
}
.titleActivite {
    flex-basis: 10%;
    /* margin: 5%; */
}
.titleSection {
    font-size: 2.3rem;
    color: black;
    margin-bottom: 2%;
}
.containActivite{
    margin-top: 7dvh;
    flex-basis: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: white;
    text-align: center;
    gap: 1.56dvh;
}
.descriptionActivite {
    padding-left: 2vw;
    width: 30%;
    background:linear-gradient(rgba(12, 12, 12, 0.7),rgba(0, 0, 0, 0.651)), url(../image/EXTERIEUR_13.JPG);
    background-size: cover;
    height: 47%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    
}
.pictureActivite {
    background-size: 200%;
    background-position: right;
    width: 30%;
    height: 55%;
    margin-top: -2%;
}
.activite1 {
    background-image: url(../image/EXTERIEUR_05.JPG);
}
.activite2 {
    background-image: url(../image/FB_IMG_17173536922294724.jpg);
    background-size: cover;
}
.activite3 {
    background-image: url(../image/FB_IMG_17173537921220110.jpg);
    /* background:linear-gradient(rgba(227, 222, 69, 0.002),rgba(237, 224, 161, 0.151)), url(../image/FB_IMG_17173537921220110.jpg); */
    background-size: cover;
}
.descLast {
    margin-top: -5%;
}

#Gastronomie{
    height: 100dvh;
    width: 60%;
    margin: 0 auto;
    background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.7)), url(../image/406271593_856232949539372_4276330455097852888_n.jpg);
    background-size: cover;
    .gastro_content1{
        display: flex;
        justify-content: space-around;
        margin-top: 1dvh;
    }

    h1{
        color: rgb(233, 63, 233);
        font-size: 3rem;
        text-align: center;
        span{
            font-size: 2rem;
            color: white;
        }
    }

    h2{
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        height: 20%;
        width: 80%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        margin-top: 8dvh;
        color: white;
        font-size: 3rem;
        text-align: center;
        span{
            font-size: 2rem;
        }
    }

    .gastro_content1 div:first-child{
        background-image: url(../image/PLATS_10.JPG);
        background-size: cover;
    }
    .gastro_content1 div:nth-child(2){
        background-image: url(../image/PLATS_16.JPG);
        background-size: cover;
    }

    .gastro_content2{
        display: flex;
        justify-content: space-between;
        margin-top: -25dvh;
    }

    .gastro_content2 div:first-child{
        background-image: url(../image/PLATS_22.JPG);
        background-size: cover;
    }

    .gastro_content2 div:nth-child(2){
        background-image: url(../image/PLATS_25.JPG);
        background-size: cover;
    }
    .gastro1{
        border: 4px solid rgb(48, 163, 48);
        width: 20%;
        aspect-ratio: 1/1;
        transform: rotate(45deg);
        border-radius: 2ch;
    }
    .gastro3{
        border: 4px solid rgb(48, 163, 48);
        width: 35%;
        margin: -10dvh auto;
        aspect-ratio: 1/1;
        transform: rotate(45deg);
        border-radius: 2ch;
        background-image: url(../image/318607761_529092182577575_2559613292856495025_n.jpg);
        background-size: cover;
        background-position: center;
    }
    
}

#Reservation{
    padding-top: 20dvh;
    height: 100dvh;
    width: 80%;
    border: 2px solid red;
    margin-top: 10dvh;
    margin-inline: auto;
    background: linear-gradient(rgba(26, 8, 26, 0.781), rgba(0, 0, 0, 0.719)), url(../image/EXTERIEUR_15.JPG);
    background-size: cover;
    h1{
        color: white;
        font-size: 2rem;
        text-align: center;
    }

    .one{
        height: fit-content;
        width: 48%;
        div{
            display: flex;
            width: 100%;
            align-items: center;
            gap: 1dvw;
            margin-bottom: 1dvh;
        }

        input[type="date"]::-webkit-calendar-picker-indicator {
            filter: invert(100%);
        }

        input{
            width: 100%;
            height: 4dvh;
            color: white;
            background-color: transparent;
            border: 2px solid white;
            outline: none;
        }

        select{
            width: 100%;
            height: 4dvh;
            color: white;
            background-color: transparent;
            border: 2px solid white;
            outline: none;
            option{
                background-color: rgba(204, 34, 204, 0.295);
                color: black;
            }
        }
    }
    form{
        /* border: 2px solid blue; */
        height: 70%;
        width: 70%;
        margin: 5dvh auto;
        display: flex;
        flex-wrap: wrap;
        gap: 2dvw;
        color: white;
        .button_reservation{
            width: 20%;
            background-color: rgb(212, 45, 157);
            border-radius: 10ch;
            margin: 0 auto;
            button{
                height: 100%;
                width: 100%;
                color: white;
            }
        }
    }

    img{
        height: 2rem;
    }
}
