@tailwind base;
@tailwind components;
@tailwind utilities;

header{
    background: linear-gradient(rgba(0,0, 0, 0.6), rgba(0,0, 0, 0.4)), url(../image/308730508_596184905544179_4682401747476039275_n.jpg);
    background-size: cover;
    height: 100dvh;
    text-align: center;
    padding-top: 20%;
    h2{
        font-size: 5rem;
        color: white;
    }

    span{
        font-size: 2rem;
        color: rgb(255, 253, 254); 
    }
}

p{
    transition: 0.5s;
}

nav{
    position: fixed;
    top: 0;
    width: 100%;
    height: 10dvh;
    background-color: transparent;
    margin: 0 auto;
    padding: 0 5dvw;
    display: flex;
    justify-content: space-between;
    .link{
        height: 50%;
        margin: auto 0;
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        color: white;
        font-size: 1.1rem;
        /* font-weight: bold; */
    }
    .reservation{
        margin: auto 0;
        height: 50%;
        padding: 1dvh 1.5dvw;
        border-radius: 10ch;
        background-color: green;
        transition: 0.5s;
        color: white;
        text-align: center;
    }
    .reservation:hover{
        transform: scale(1.2);
    }
    img{
        /* width: 8%;
        aspect-ratio: 1/1; */
        /* margin: 1dvh 0; */
        width: 90%;
        height: 100%;
    }
    .logo {
        /* border: 2px solid white; */
        /* flex-basis: 20%; */
        text-align: center;
        width: 10%;
    }
    p:hover{
        transform: scale(1.2);
        border-bottom: solid 1px white;
    }

    select{
        height: fit-content;
        margin: auto 0;
        background-color: transparent;
        color: white;
        outline: none;
        option{
            color: black;
        }
    }
}




/* section nos bungalow */
#nosBungalow {
    margin: 5% 3%;
    background-color: rgb(251, 251, 251);
    height: 78vh;
    box-shadow: 0px 0px 20px rgb(164, 162, 162);
    border-radius: 1ch;
    display: flex;
    flex-direction: row;
}
.allBungalow {
    flex-basis: 44%;
    /* border: solid green; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 3%;
}
.bungalowPicture {
    /* border: solid black; */
    flex-basis: 56%;
    background-image: url(../images/BUNGALOW_01_1.JPG);
    background-size: cover;
    background-position: center;
    border-radius: 0 1ch 1ch 0;
}
.title {
    font-size: xx-large;
    margin-bottom: 5%;
}
.differentBungalow {
    margin-inline: 5%;
    overflow: scroll;
}
.differentBungalow img {
    width: 33%;
}
.containBungalow p{
    font-size:x-large;
    margin-bottom: 2%;
}
.containBungalow span{
    color: rgb(49, 49, 49);
}
.containBungalow {
    display: flex;
    flex-direction: column;
    margin: 2% 0 0 5%;
}
.bungalowImage {
    display: flex;
    flex-direction: row;
    margin-block: 3%;
}

/* section activite */

#activite {
    height: 90vh;
    margin: 5% 1%;
    /* border: solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: white;
    text-align: center;
    /* gap: 1dvw; */
}
.titleActivite {
    flex-basis: 10%;
    /* margin: 5%; */
}
.titleSection {
    font-size: 2.3rem;
    color: black;
}
.containActivite{
    margin-top: 7dvh;
    flex-basis: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: white;
    text-align: center;
    gap: 1.56dvh;
}
.descriptionActivite {
    padding-left: 2vw;
    width: 30%;
    background:linear-gradient(rgba(12, 12, 12, 0.7),rgba(0, 0, 0, 0.651)), url(../images/EXTERIEUR_13.JPG);
    background-size: cover;
    height: 47%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    
}
.pictureActivite {
    background-image: url(../images/EXTERIEUR_05.JPG);
    background-size: 200%;
    background-position: right;
    width: 30%;
    height: 55%;
    margin-top: -2%;
}
.descLast {
    margin-top: -5%;
}

